*{
    box-sizing: border-box;
}
:root{
    --filament-saturation: 0;
    --filament-lightness: 40;
    --fitting-lightness: 30;
    --chord-lightness: 50;
    --bg-lightness: 5;
    --glass-lightness: 30;
    --glass-saturation: 0;
    --light-alpha: 0;
    --ceiling: 50;
    --bulb-hue: 60;
}
body{
    background: hsl(215, 100%, calc(var(--bg-lightness) * 1%));
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
}
svg{
    width: 90vmin;
    transform: translate(0, -30%);
}
.wrapper{
    position: relative;
}
.wrapper::after{
    content: '';
    width: 90vmin;
    position: absolute;
    bottom: 130%;
    left: 0;
    border-bottom: 4px solid hsl(0, 0%, calc(var(--ceiling) * 1%));
    transform: translate(0, 2px);
}
.light-bulb{
    display: block;
}
.light-bulb__chord{
    stroke: hsl(0, 0%, calc(var(--chord-lightness) * 1%));
}
.light-bulb__glass {
    fill: hsla(var(--bulb-hue), 100%, calc(var(--glass-lightness) * 1%), var(--light-alpha));
    stroke: hsla(var(--bulb-hue), calc(var(--glass-saturation) * 1%), calc(var(--glass-lightness) * 1%), 1);
}
.light-bulb__filament{
    fill: none;
    stroke: hsl(60, calc(var(--filament-saturation) * 1%), calc(var(--filament-lightness) * 1%));
}
.light-bulb__fitting{
    fill: hsl(0, 0%, calc(var(--fitting-lightness) * 1%));
}
.light-bulb__fitting-shine{
    fill: hsl(0, 0%, calc((var(--fitting-lightness) + 20) * 1%));
}
.light-bulb__bloom{
    fill: none;
    stroke: hsl(var(--bulb-hue), 100%, 50%);
    stroke-width: 2;
    opacity: 0;
}
@keyframes fadeToBlack{
    to{
        opacity: 0;
    }
}